[submodule "PingTap/Assets/Scripts/Systems/AbilitySystem"]
	path = PingTap/Assets/Scripts/Systems/AbilitySystem
	url = https://github.com/Fralleee/AbilitySystem.git
[submodule "PingTap/Assets/Scripts/Systems/Characterstats"]
	path = PingTap/Assets/Scripts/Systems/Characterstats
	url = https://github.com/Fralleee/Characterstats.git
[submodule "PingTap/Assets/Scripts/Systems/FpsController"]
	path = PingTap/Assets/Scripts/Systems/FpsController
	url = https://github.com/Fralleee/FpsController.git
[submodule "PingTap/Assets/Scripts/Core"]
	path = PingTap/Assets/Scripts/Core
	url = https://github.com/Fralleee/Core.git
[submodule "PingTap/Assets/Scripts/Systems/CombatSystem"]
	path = PingTap/Assets/Scripts/Systems/CombatSystem
	url = https://github.com/Fralleee/CombatSystem.git
