[submodule "PingTap/Assets/Scripts/Systems/AbilitySystem"]
	path = PingTap/Assets/Scripts/Systems/AbilitySystem
	url = https://github.com/Fralleee/AbilitySystem.git
[submodule "PingTap/Assets/Scripts/Systems/Characterstats"]
	path = PingTap/Assets/Scripts/Systems/Characterstats
	url = https://github.com/Fralleee/Characterstats.git
